include *.md
include Dockerfile
include unittest.cfg
exclude .project
exclude .pydevproject
exclude .settings/*
exclude .settings
exclude setup.cfg
exclude *.sh
exclude *.txt
exclude binaries
exclude dockerfiles
exclude k8s
recursive-exclude binaries *
recursive-exclude dockerfiles *
recursive-exclude k8s *

