include *.md
include Dockerfile
include unittest.cfg
exclude .project
exclude .pydevproject
exclude .settings/*
exclude .settings
exclude setup.cfg
exclude *.sh
exclude *.txt
recursive-exclude binaries *.whl
recursive-exclude dockerfiles *.conf
recursive-exclude dockerfiles *.sh
recursive-exclude k8s *.yaml

