multidict==4.3.1
pycryptodome
requests
simplejson
cachetools
python-memcached
pika
aio_pika
asyncpg
psycopg2-binary
geotooldbapi>=2.5
geotoolapi>=2.5
meitrackparser>=2.10
celery[sqs]
kombu
tornado==5.1.1
